/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 1000px;
    margin: auto;
}


/* HEADER */
header {
    height: 100px;
    width: 100%;

    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: 380px;
    background-position: top;
}
 
header img{
    margin: 40px 7px;
    height: 50px;
}

/* MAIN */
main {
    padding: 10px 5px;
    font-size: 18px;
}

/* title */

.article-title h1 {
    font-size: 40px;
    font-weight: 800;
}

.article-subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #808080;
}

.article-date {
    font-size: 13px;
    font-weight: 500;
    color: #808080;
}

.article-author{
    color: #36b1e7;
}

/* photo */
.photo {
    margin-top: 20px;
}

.photo img{
    height: 350px;
}

.photo-caption{
    font-size: 13px;
}

/* pharagraphs */
p {
    margin-top: 20px;
    margin-bottom: 20px;
}

p .note{
    background-color: #ffff00;
}

/* unordered list*/

ul{
    list-style-position: inside;
}